**`Data Analysis of Ganna.com `**

In [ ]:
!git clone https://github.com/AshishJangra27/Gaana-Data-Analysis

Cloning into 'Gaana-Data-Analysis'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 26 (delta 8), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), done.

In [ ]:
import pandas as pd
df = pd.read_csv('Gaana-Data-Analysis/songs.csv')

In [ ]:
df

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu
...,...,...,...,...,...,...
41350,Chaaridike Paaper Andhar (Manush Janam Diye Bi...,Kishore Kumar,/artist/kishore-kumar,03:23,/chaaridike-paaper-andhar-manush-janam-diye-bidhi,Bengali
41351,Ei Ki Go Shesh Daan,Feroza Begum,/artist/feroza-begum,03:56,/ei-kigo-sesh-daan,Bengali
41352,Ei Je Bangla,Sandhya Mukherjee|Hemant Kumar,/artist/sandhya-mukherjee|/artist/hemanta-mukh...,07:36,/ei-je-bangla,Bengali
41353,Jatone Hridaye Rekho,Ajoy Chakrabarty,/artist/ajoy-chakrabarty,04:29,/jatone-hridaye-rekho,Bengali
41354,Tomar Je Oi Haater Mala,Asha Bhosle,/artist/asha-bhosle-1,03:22,/tomar-je-oi-haater-mala,Bengali

In [ ]:
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu

1) Checking null values

In [ ]:
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

2) Data preprocessing

2.1)Dealing with duration

In [ ]:
duration_lst=[]
for duration in df['duration']:

  #print(duration,type(duration))
  #print('Min' , int(duration.split(':')[0]))
  #print('Sec' , int(duration.split(':')[1]))

  m=int(duration.split(':')[0])
  s=int(duration.split(':')[1])
  sec=(m*60)+s

  duration_lst.append(sec)
  #print(m,s,sec)
df['duration']=duration_lst
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu

3)Analysing data

3.1) Average duration of song through out the dataset

In [ ]:
Avg_duration=int(df['duration'].sum()/len(df['duration']))
print('Average duration of song is : ',Avg_duration)

Average duration of song is :  295

3.2) How many languages of songs in dataset ?

In [ ]:
#df['language'].unique()
#df['language'].nunique()
length=len(set(df['language']))
print('Length : ',length)

Length :  16

3.3)What are all the languages in dataset?

In [ ]:
for i in set(df['language']):
  print(i)

Hindi
Kannada
Old
Marathi
Bengali
Punjabi
Malayalam
Bhojpuri
Telugu
Tamil
Urdu
Gujarati
Rajasthani
Haryanvi
Assamese
Odia

3.4)How many panjabi songs are there ?

In [ ]:
c=0
for i in df['language']:
  if(i == 'Punjabi'):
    c+=1
print('There are',c,'songs in Punjabi')

There are 3818 songs in Punjabi

In [ ]:
len(df[df['language']=='Punjabi'])

3818

3.5) Number of songs in each language?

In [ ]:
for lang in df['language'].unique():
  c=len(df[df['language']==lang])
  print(lang,c)

Urdu 3116
Gujarati 2115
Tamil 4677
Kannada 3559
Rajasthani 541
Haryanvi 228
Punjabi 3818
Hindi 4993
Old 4993
Malayalam 479
Marathi 4699
Telugu 4996
Odia 940
Bhojpuri 519
Assamese 724
Bengali 958

3.6) Avg duration of song in each lang

In [ ]:
for lang in df['language'].unique():
  print(lang,int(df[df['language']==lang]['duration'].mean()))

Urdu 407
Gujarati 271
Tamil 270
Kannada 250
Rajasthani 291
Haryanvi 320
Punjabi 324
Hindi 307
Old 307
Malayalam 242
Marathi 281
Telugu 279
Odia 257
Bhojpuri 357
Assamese 228
Bengali 255

3.7)How many singer are there in dataset?

In [ ]:
all_singer=[]
for singers in df['singer']:
  all_singer+=singers.split('|')
print('Total singers',len(set(all_singer)))

Total singers 3940

3.8) Who has the most no of songs played in dataset?

In [ ]:
data=[]

unique_singer=list(set(all_singer))
for i in unique_singer:
  c=0
  for singer in df['singer']:
    if(i in singer):
      c+=1
  
  data.append([i,c])

In [ ]:
songs=pd.DataFrame(data,columns=['singer','songs'])
songs.head()
songs.sort_values(by='songs',ascending=False)

                                        singer  songs
98                      S. P. Balasubrahmanyam   3659
213                                      Kumar   3270
2362                                   Susheel   3216
2642                                  Susheela   3215
2346                               P. Susheela   3213
...                                        ...    ...
1315                            Tasawar Khanum      1
2892                         Vishwanath Mishra      1
1321                           Dilip Prabhakar      1
2890                                    Zareef      1
3939  Assam singers with percussion from Siluk      1

[3940 rows x 2 columns]

3.9) Singer who played most no of songs in each lang?

In [ ]:
for lang in df['language'].unique():
  df_ = df[df['language']==lang]

  all_singer=[]
  for singers in df_['singer']:
    all_singer+=singers.split('|')
  print(lang,len(df_),len(set(all_singer)))
  #print(lang, len(df_))

Urdu 3116 385
Gujarati 2115 303
Tamil 4677 510
Kannada 3559 379
Rajasthani 541 218
Haryanvi 228 76
Punjabi 3818 636
Hindi 4993 515
Old 4993 515
Malayalam 479 72
Marathi 4699 569
Telugu 4996 369
Odia 940 243
Bhojpuri 519 109
Assamese 724 228
Bengali 958 192